/* external css */
/* h1 {
  font-size: 30px;
  color: rgb(139, 126, 52);
  font-size: 15px;
}

li {
  color: rgb(70, 70, 122);
}

.CryptoProjects {
  color: rgb(231, 190, 85);
}
.FuseGold {
  color: rgb(228, 186, 82);
}

.heading-1 {
  text-decoration: underline;
}

img {
  height: 20px;
  width: 20px;
} */

* {
  margin: 0;
  padding: 0;
}
img {
  width: 250px;
  height: 250px;
}
body {
  background-color: #f1e4b7;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav {
  margin-top: 20px\;;
}

nav > ul {
  list-style: none;
  text-align: center;
}

nav > ul > li {
  display: inline;
  margin: 5px;
}

nav > ul > li > a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 25px;
}

section {
  background-color: white;
  margin: 20px;
  padding: 20px;
}

.projects {
  display: flex;
}

.project {
  margin: 10px;
  padding: 10px;
  border: 1px solid #1f0909;
  border-radius: 5px;
}
.project {
}
